*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.heading{
    background-color: rgb(177, 168, 168);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

.navi {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navi a {
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.input-details {
    /* border: 2px solid green;  */
    /* width: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-details [type='text'] {
    /* margin-left: 5rem; */
    width: 100%;
    padding: 0.6rem 9rem;
    border-radius: 5rem;
    margin-right: 2rem;
}
button {
    padding: 0.3rem 2rem;
    border-radius: 5rem;
}